Feature_and_bug_Automator.json
{
  "name": "Requirement-to-Task-V5",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "994edf19-32f8-4ca1-924b-c773c1a2edbf",
      "name": "OpenAI Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        14496,
        5888
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=session_1"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        14624,
        5888
      ],
      "id": "1958ebaf-acf3-417b-b9b1-e200a594b810",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "content": "## Feature & Bug Automator\n### Problem\nIn many software projects, requirements from business teams or product owners arrive in natural language and are often unstructured. They have to be translated by hand into user stories, subtasks and acceptance criteria, which is time-consuming and frequently leads to misunderstandings. The process is error-prone and slows down collaboration between the business side and the development team.\n\n### Solution\nThis workflow automatically turns unstructured requirements and reports into clearly structured agile artifacts.\nIt detects whether the input is a feature request or a bug report and creates the matching Jira tickets:\n\n- for feature requests it generates a user story, subtasks and acceptance criteria,\n\n- for bug reports it generates a description, steps to reproduce, expected and actual behavior, and a priority.\n\n- Through RAG (Retrieval-Augmented Generation) the AI agent can additionally draw on specific knowledge about the product and internal team processes, making the results more context-aware and practical.\n\n- The results are returned as structured JSON and can be imported into Jira automatically.\n\n### Phases\n#### Phase 1 - Core functionality\n#### Phase 2 - Bug handling and prioritization\n#### Phase 3 - Knowledge integration with RAG\n\n---\nBuilt by Majd Edriss - software, automation, AI integration - me-dev.de",
        "height": 880,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13360,
        5536
      ],
      "id": "da2c504a-3d55-4968-9b13-755cabfe4934",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "inputText": "=Determine whether the following text is a feature request or a bug report.\nRespond only in valid JSON:\n{ \"type\": \"feature\" | \"bug\" | \"unclear\" }\n\nText: {{ $json.Text }}",
        "categories": {
          "categories": [
            {
              "category": "feature"
            },
            {
              "category": "bug"
            },
            {
              "category": "unclear"
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        14112,
        6080
      ],
      "id": "39215845-aa77-4842-a51d-16106633595c",
      "name": "Text Classifier",
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input: {{ $json.Text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an experienced requirements engineer.\nYour task is to turn a bug report written in natural language into a clean Scrum bug report.\n\nYou have access to a tool that retrieves data from a semantic vector database.\n\nAlways query the vector database first.\n\nIf relevant data is found:\n- Base your answer only on that data.\n- Provide the source(s) from the knowledge base (\"source\": \"quote\"), not as a blob.\n\nIf no relevant data is found:\n- Return the source as an empty string (\"source\": \"\").\n\nRules:\n- Respond only in valid JSON (no comments, no explanations).\n- Use clear everyday language, no jargon or developer terms.\n- No tests, no UI mockups, no code references, no explanations.\n- summary: a short description of the bug, max 100 characters.\n\nExample: if the current version number is requested, output it as a number, not as the text \"current version number\"."
        }
      },
      "id": "cbc41a69-9705-4f29-b91c-5204c2393eac",
      "name": "Req-to-bug-Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        14608,
        6112
      ],
      "retryOnFail": false
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        14112,
        6272
      ],
      "id": "d087c43f-791e-4ff6-bdd4-7f59208893c8",
      "name": "OpenAI Chat Model"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Your Jira project"
        },
        "issueType": {
          "__rl": true,
          "value": "10005",
          "mode": "list",
          "cachedResultName": "Feature"
        },
        "summary": "={{ $json.output.summary }}",
        "additionalFields": {
          "description": "={{ $json.output.userStory }}\n\nh3. Subtasks:\n{{ $json.output.subtasks.map((t, i) => (i+1) + \". \" + t).join(\"\\n\") }}\n\nh3. Acceptance criteria:\n{{ $json.output.acceptanceCriteria.map((t, i) => (i+1) + \". \" + t).join(\"\\n\") }}\n\nh3. Original text:\nbq. {{ $('Text Classifier').item.json.Text }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        15216,
        5744
      ],
      "id": "84aaaa96-93f9-4e85-b650-72fc9d75d025",
      "name": "Create feature in Jira"
    },
    {
      "parameters": {
        "project": {
          "__rl": true,
          "value": "10000",
          "mode": "list",
          "cachedResultName": "Your Jira project"
        },
        "issueType": {
          "__rl": true,
          "value": "10007",
          "mode": "list",
          "cachedResultName": "Bug"
        },
        "summary": "={{ $json.output.summary }}",
        "additionalFields": {
          "description": "=h3. Description\n{{ $json.output.description }}\n\nh3. Steps to reproduce\n{{ $json.output.stepsToReproduce }}\n\nh3. Expected behavior\n{{ $json.output.expectedBehavior }}\n\nh3. Actual behavior\n\n{{ $json.output.actualBehavior }}\n\nh3. Priority\n{{ $json.output.priority }}\n\nh3. Original text:\nbq. {{ $('Text Classifier').item.json.Text }}"
        }
      },
      "type": "n8n-nodes-base.jira",
      "typeVersion": 1,
      "position": [
        15216,
        6112
      ],
      "id": "beef97e5-30e6-4208-872d-dad8d98ea840",
      "name": "Create bug in jira"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Input: {{ $json.Text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=You are an experienced agile coach and requirements engineer.\nYour task is to turn a feature request written in natural language into a clean Scrum user story, subtasks and acceptance criteria.\n\nYou have access to a tool that retrieves data from a semantic database. Use this data as the first and most important source for your answer.\n\nRules:\n- Respond only in valid JSON (no comments, no explanations).\n- Use clear everyday language, no jargon or developer terms.\n- No tests, no UI mockups, no code references, no explanations in the text.\n- summary:\n  - a short description of the user story\n  - max 100 characters\n- userStory:\n  - Form: \"As a [user type] I want to [action] so that [benefit].\"\n  - Always use an active action (e.g. \"turn it on and off\").\n- subtasks:\n  - 3-5 concrete, conceptual technical implementation steps.\n  - No file names, no code-level implementation details.\n  - Only what a developer can understand as a work package.\n- acceptanceCriteria:\n  - 3-5 verifiable conditions.\n  - Language: English.\n  - Format: \"Given ... When ... Then ...\"\n  - Always consider the default state too (e.g. when no preference is set)."
        }
      },
      "id": "c3c8fe4e-4079-4656-9333-29043e15d02d",
      "name": "Req-to-feature-Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        14576,
        5600
      ]
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"userStory\": \"\",\n  \"subtasks\": [\"\", \"\"],\n  \"acceptanceCriteria\": [\"\", \"\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        14944,
        5760
      ],
      "id": "44ba73bc-5b15-4bc4-be57-5cab5fd19070",
      "name": "Structured Output Feature"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"summary\": \"\",\n  \"description\": \"\",\n  \"stepsToReproduce\": [\"\", \"\"],\n  \"expectedBehavior\": \"\",\n  \"actualBehavior\": \"\",\n  \"source\": \"\",\n  \"priority\": \"Low | Medium | High | Critical\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        14816,
        6256
      ],
      "id": "d6c6ad98-4050-45d3-8c18-d224f096f3ba",
      "name": "Structured Output Bug"
    },
    {
      "parameters": {
        "formTitle": "Upload your data to test RAG",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Upload your file(s)",
              "fieldType": "file",
              "acceptFileTypes": ".pdf, .csv",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "id": "b2758fff-70e3-4007-8364-86499d2af246",
      "name": "Upload your file here",
      "type": "n8n-nodes-base.formTrigger",
      "position": [
        13888,
        5632
      ],
      "webhookId": "5692a6ac-d12b-4f13-bf12-4ef79955ae30",
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "560c3681-4093-42c9-a2d2-972af9a31e43",
      "name": "Embeddings OpenAI",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "position": [
        13920,
        5824
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "4b244c3e-f1f3-4fe0-a745-dcadfff2adac",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "position": [
        14192,
        5712
      ],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "formTitle": "Submit a request",
        "formDescription": "Paste a feature request or bug report in plain language.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Text",
              "fieldType": "textarea",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        13904,
        6096
      ],
      "id": "c7922d57-5268-452c-9d18-7aa97c58f2cc",
      "name": "On form submission",
      "webhookId": "d71ec975-7981-4f48-90f4-67138eb992b0"
    },
    {
      "parameters": {
        "content": "## RAG",
        "height": 432,
        "width": 608,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13840,
        5536
      ],
      "id": "e6db8fc1-42eb-458e-bf32-6c85f5954d80",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Text Classifier",
        "height": 432,
        "width": 608,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13840,
        5984
      ],
      "id": "928a319e-1d83-4cf3-9b4f-ff6a3d0bf559",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Text to Tasks",
        "height": 880,
        "width": 608,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        14464,
        5536
      ],
      "id": "37017ac3-c400-4f84-b62e-287e74d5bef1",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## Tasks to Jira",
        "height": 880,
        "width": 352,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        15088,
        5536
      ],
      "id": "1ce34439-d3ed-4135-b6d5-1a4e61a7160c",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "chunkSize": 200,
        "chunkOverlap": 50,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        14128,
        5824
      ],
      "id": "308faa9e-85b8-4b35-a74a-566f77ff71b3",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        14928,
        6016
      ],
      "id": "3a15b18a-efc8-4b5b-9f97-d7005ba2d2bf",
      "name": "Embeddings OpenAI1"
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "e2de7819-6a8b-4a37-99d5-b5a8e11f71cb",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        14000,
        6592
      ],
      "webhookId": "5e56a263-3a40-44bd-bc9d-1cfb3bc2a87d",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. You have access to a tool to retrieve data from a semantic database to answer questions. Always provide arguments when you execute the tool"
        }
      },
      "id": "26a74040-d32f-44cd-b371-7d2357e6f441",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        14544,
        6480
      ],
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "e32a8f22-bcf0-4178-af2f-fb9140a355c1",
      "name": "Simple Memory1",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "position": [
        14464,
        6768
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        14224,
        6768
      ],
      "id": "23d5e8c4-a06e-4a35-abf8-a1fddab79a5f",
      "name": "OpenAI Chat Model1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        14736,
        6928
      ],
      "id": "379a8884-031c-428e-bb0f-d6940adf1b61",
      "name": "Embeddings OpenAI2"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "knowledge_base",
        "toolDescription": "Retrieves information from your product knowledge base to answer questions precisely. It uses the documents loaded into the workflow (e.g. API overview, release notes, role descriptions, forms), searches them with semantic queries (RAG) and returns context-aware answers. This lets users look up specific information - about features, processes or team structures - without manually searching the entire documentation.",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        },
        "topK": 5
      },
      "id": "b814ad9f-5311-497e-b54b-8da5e95073fa",
      "name": "Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        14736,
        5888
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "mode": "insert",
        "memoryKey": {
          "__rl": true,
          "value": "vector_store_key",
          "mode": "list",
          "cachedResultName": "vector_store_key"
        }
      },
      "id": "55671850-5a6e-422f-9aee-8b85d5815a9f",
      "name": "Insert Data to Vector Store",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "position": [
        14096,
        5568
      ],
      "typeVersion": 1.2
    },
    {
      "parameters": {
        "content": "## Chatbot with RAG",
        "height": 688,
        "width": 1232,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        13840,
        6432
      ],
      "id": "67d39a34-6d50-4570-b424-5ecccbed4265",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Retrieves information from your product knowledge base to answer questions precisely. It uses the documents loaded into the workflow (e.g. API overview, release notes, role descriptions, forms), searches them with semantic queries (RAG) and returns context-aware answers. This lets users look up specific information - about features, processes or team structures - without manually searching the entire documentation.",
        "memoryKey": {
          "__rl": true,
          "mode": "list",
          "value": "vector_store_key"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreInMemory",
      "typeVersion": 1.3,
      "position": [
        14688,
        6752
      ],
      "id": "159dfb39-7892-421f-8abf-14905654bd70",
      "name": "Vector Store1"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI Model": {
      "ai_languageModel": [
        [
          {
            "node": "Req-to-feature-Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Req-to-bug-Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Req-to-feature-Agent",
            "type": "ai_memory",
            "index": 0
          },
          {
            "node": "Req-to-bug-Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Req-to-feature-Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Req-to-bug-Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Req-to-bug-Agent": {
      "main": [
        [
          {
            "node": "Create bug in jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Req-to-feature-Agent": {
      "main": [
        [
          {
            "node": "Create feature in Jira",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Feature": {
      "ai_outputParser": [
        [
          {
            "node": "Req-to-feature-Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Bug": {
      "ai_outputParser": [
        [
          {
            "node": "Req-to-bug-Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Upload your file here": {
      "main": [
        [
          {
            "node": "Insert Data to Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Insert Data to Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Insert Data to Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI2": {
      "ai_embedding": [
        [
          {
            "node": "Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store": {
      "ai_tool": [
        [
          {
            "node": "Req-to-bug-Agent",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Req-to-feature-Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "1d5fcdc8-668d-4079-88ca-ae7f0fdbb828",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "04fcb9f469b37082bee1dd9c62e4a143516ffc4a8cad779f49536797634cf615"
  },
  "id": "KtX9UgWhQPZqrH23",
  "tags": []
}
